# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/

# VSCode settings
.vscode/

# Mac OS
.DS_Store

# Logs
*.log

# Jupyter notebooks checkpoints
.ipynb_checkpoints/
